<html>
<body>
    <h2>Cuddles Favorite Food and Toy:</h2>
    <% for (var cuddle in cuddles) { %>
        <h3>Food: <%= cuddles[cuddle].food %></h3>
        <h4>Toy: <%= cuddles[cuddle].toy %></h4>
        <hr>
    <% } %>
    <img src=<%= "cat"+catId+".jpeg"%>>
</body>
</html>